.coin_main {
    width: 40rem;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: white;
    color: #5C7C99;
    padding-bottom: 3rem;
    text-align: left;
}

.coin_main h1 {
    margin-top: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.coin_main h2 {
    margin-top: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
}