.bitcoin_theme {
    width: 200px;
    margin: 0 auto;
}

.bitcoin_main {
    width: 40rem;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #BBB;
    color: black;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: left;
}

.bitcoin_tabs {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
    color: white;
}

.bitcoin_main h1 {
    margin-top: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

.right_align {
    text-align: right;
}